body {
  margin: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

.App-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 2vmin);
  color: white;
}

.App-body input {
  font-size: calc(5px + 2vmin);
}

.console-div {
  max-height: 20vh;
  min-height: 20vh;
  overflow-y: hidden;
  font-size: calc(4px + 1.5vmin);
  text-align: center;
}
